*{
    padding: 0;
    margin: 0; 
}
body{
    background-color: rgb(207, 50, 50);
    color: #000000;
    font-size: 24px;

}

.cabeçalho{
    display: flex;
    justify-content: space-around;
align-items: center;
padding: 24px;
}

.cabeçalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.logo{
    width: 25%;
}

.escola-img{
    width: 25%;
}

.escola{
    background-image: linear-gradient(#CF3232, #8B0000);
    justify-content: center;
    align-items: center;
    display: flex;
}

.escola-div-conteudo{
width: 35%;
}

.escola-titulo{
    padding: 24px 0;;
}

.estudante-imagem{
    width: 300px;
}