body{
    background-color: rgb(207, 50, 50)

}

.cabeçalho{
    display: flex;
    justify-content: space-around;
align-items: center;
padding: 24px;
}

.cabeçalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.logo{
    width: 25%;
}

.escola-img{
    width: 25%;
}

.escola{
    background-image: linear-gradient( rgb(207, 50, 50) #FFFFFF);
}